sentence-transformers
keras==2.8.0rc
pinecone-client
langchain-community
langchain
langchain_pinecone
tensorflow==2.8.0
fastapi[all]
mistralai
pandas
numpy
nibabel
matplotlib
protobuf==3.19.6
authlib
tenacity==8.3.0
# For local deployment of llm model
# llama-cpp-python

# For loading any custom pdf data for using RAG against this data.
# pypdf