sentence-transformers==2.2.2
pinecone-client
langchain
langchain-community
langchain_pinecone
fastapi[all]
python-dotenv
mistralai
tensorflow==2.8.0
keras==2.8.0rc
pandas
numpy
nibabel
matplotlib

# For local deployment of llm model
# llama-cpp-python

# For loading any custom pdf data for using RAG against this data.
# pypdf