sentence-transformers==2.6.0
pinecone-client
langchain
langchain-community
langchain-huggingface
langchain_pinecone
fastapi[all]
mistralai
tensorflow==2.8.0
keras==2.8.0rc
pandas
numpy
nibabel
matplotlib
protobuf==3.19.6

# For local deployment of llm model
# llama-cpp-python

# For loading any custom pdf data for using RAG against this data.
# pypdf