/* src/pages/Login.css */

.login-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.left-section {
  flex: 0 0 60%;
  background-color: #07D6B0; /* Teal color */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-section {
  flex: 0 0 40%;
  background-color: #000000; /* Black color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content {
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  text-align: left;
  color: #05492D; /* Dark green color */
}

.left-content h1 {
  font-size: 24px; /* Adjust font size as needed */
}

.welcome-text {
  font-size: 36px; /* Adjust font size as needed */
  color: #05492D; /* Dark green color */
  margin-top: 200px; /* Adjust as needed */
  text-align: center;
}

.right-content {
  text-align: center;
  color: white;
  margin-top: -30px; /* Move content upwards by 20px */
}

.right-content h2 {
  margin-bottom: 20px;
  font-size: 24px; /* Make the font size larger if needed */
}

.button-container {
  margin-bottom: 10px;
}

/* Set a fixed width for buttons */
.right-content button {
  width: 300px; /* Adjust the width as needed */
  padding: 10px 20px;
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
